body{
    padding: 0;
    margin: 0;
}
/*title*/
.ul-title{
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.li-title{
    padding-right: 40px;
}
.li-title:hover{
    text-decoration-line:underline;
    text-decoration-color:#FD1015;
    
}
a.nav-link:hover{
    text-decoration-line:underline;
    text-decoration-color:#FD1015; 
    
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
}
.icon-title{
    color: #FD1015;
}
/*courses*/
.courses-h1{
    font-family: 'Oswald', sans-serif;
    width: 70%;
    margin-top: 140px;
}
.img-courses{
    width: 490px;
    height: 500px;
    border-radius: 4px;
    margin-top: 60px;
}
.courses-span{
    font-size: 26px;
    color: #494949; 
    margin-bottom: 100px;
}
.courses-p{
    margin-top: 30px;
    max-width: 430px;
    font-size: 18px;
    color: #494949; 
    line-height: 2;
    margin-bottom: 45px;
}
.button-courses{
    padding: 10px 60px ;
    background-color: #FD1015;
}
/*goals*/
#goals{
    background-color:#FCF5E8 ;
}
.goals-h1{
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.goals-span{
    color:#FD1015 ;
    background-color:#FCDDD2 ;
    padding: 0 20px;
    border-radius:4px ;
    margin-left: 10px;
}
.goals-p{
    color: #494949; 
    line-height: 2;
    font-size: 18px;
}
.goals-h3{
    margin-top: 40px;
    font-size: 28px;
}
.div-white{
    margin-top: 42px;
    background-color: #fff;
    padding-left: 40px;
    letter-spacing: 1px;
}
.img-goals{
    width: 490px;
    height: 500px;
    border-radius: 4px; 
    margin-left: 50px;
}
/*testimonials*/
#Testimonials{
    margin-top: 150px;
    background-color:#FCF5E8 ; 
}
.span-Testimonials{
    font-size: 23px;
    color: #0e0000;
}
.student-1{
    width: 366px;
    height: 366px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #ddd5c3;
}
.h3-Testimonials{
    padding-top:80px;
}
.student-2{
    width: 366px;
    height: 366px;
    border-radius: 8px;
    background-color: #ddd5c3;
    margin-top: 30px;

} 





